#TaskForm, #editForm{
  text-align: center;
  position: fixed;
  border: 3px solid #f1f1f1;
  right: 30%;
  top: 10%;
  border-radius: 20px;
  color: #917156;
  width: 40%;
  height: 80%;
  padding: 10px;
  background-color: white;
  font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
  opacity: 0.97;
}
textarea{
    width: 90%;
     padding: 10px;
     border-radius: 20px;
     border: none;
     background: #f1f1f1;
     color: #917156;
}
#TaskForm input[type=text], #editForm input[type=text]{
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #f1f1f1;
  color: #917156;
}

#TaskForm input[type=text]:focus, #editForm input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
#TaskForm .btn , #editForm .btn{
  background-color: #917156;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: large;
}

.button-text {
  font-size: large;
}
@media only screen and (max-width: 768px) {
  #TaskForm, #editForm{
    width: 100%;
    height: 60%;
    right: unset;
    opacity: 0.97;
    right: 0;
  }
 }

.description {
  margin-left: 35px;
}