html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
}

.titleImage{
    margin-top: 3%;
}

.homeIcon{
    float: left;
}

.homeTitle h1{
    float: left;
    color: #917156;
    padding-top: 6px;
}

.loginBtn, .registerBtn{
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 17px;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  height: 50px;
  background-color: #917156;
  border: none;
  width: 100px;
}
.filter:hover{
  background-color: #9c6644;
}

@media (max-width: 768px) {
  .body{
    display: flex;
    flex-direction: column;
  }
  .titleImage{
     width: 100%;
     height: 50%;
  }
}