#login , #forgot-password, #register{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 20px;
    color: #917156;
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: white;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    opacity: 0.9;
}
#forgot-password{
    width: 35%;
}

.close{
   float: right;
   margin: 20px;
}

.email, .password, .username, .phone{
   font-size: x-large;
}

#register h1, #login h1{
    text-align: center;
    margin-top:70px;
    font-size: xxx-large;
    color: #917156;
}

#forgot-password h1{
    margin-top:70px;
    font-size: xx-large;
    color: #917156;
}

.links{
    text-align: center;
}

.openForgot{
   float:right;
   margin-right:20p
}

.resetPass{
  text-align: center;
  border-radius: 20px;
  border: 2px solid #917156;
  color: #917156;
}

a, label{
    color: #917156;
}

#forgot-password input[type=password],#login input[type=password] ,#register input[type=password]{
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    margin: 3px 0 1px 0;
    border-radius: 20px;
    border: none;
    background: #f1f1f1;
    color: #917156;
    font-size: medium;
}

#login input[type=text], #forgot-password input[type=text], #register input[type=text]{
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    margin: 3px 0 10px 0;
    border-radius: 20px;
    border: none;
    background: #f1f1f1;
    color: #917156;
    font-size: medium;
}

#login input[type=text]:focus, #login input[type=password]:focus ,
#forgot-password input[type=text]:focus, #forgot-password input[type=password]:focus,
#register input[type=text]:focus, #register input[type=password]:focus{
    background-color: ##bdb9b9;
    outline: none;
    color: #917156;
    font-size: medium;
}

#login .btn , #forgot-password .btn , #register .btn{
    background-color: #917156;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    font-size: large;
}

.button-text{
    font-size: large;
}

.google-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 280px;
    background-color: #917156;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button:hover {
    background-color: #9c6644;
}

@media only screen and (max-width: 768px) {
  #login, #forgot-password, #register{
    width: 100%;
    right: unset;
   }
}