<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/task_component/taskForm.css}"/>
    <script th:src="@{/js/userProfile.js}"></script>
</head>
<body>
<form id="editForm" method="post" th:object="${task}" style="display:none;">
    <a style="float: right; margin: 10px;" onclick="closeEditForm()">
        <img th:src="@{/asset/task_component/exitIcon.png}" width="50px" height="50px">
    </a>

    <h1 style="text-align: center; font-size: xx-large; margin-top: 20px;">&nbsp;&nbsp;Manage Task</h1>

    <input type="hidden" id="taskId" name="taskId"/>
    <input type="hidden" id="userEmail" name="userEmail"/>

    <!-- Title input -->
    <div style="margin-bottom: 15px;">
        <label style="font-size: large; float: left;"><b>Title</b></label>
        <input type="text" id="title" name="title"/>
    </div>

    <!-- Description input -->
    <div style="margin-bottom: 15px;">
        <label style="font-size: large; float: left;"><b>Description</b></label>
        <textarea class="description" type="text" id="description" name="description" required> </textarea>
    </div>

    <!-- Category CheckBox -->
    <div class="items" style="margin-bottom: 15px;">
        <label style="font-size: large; float: left; margin-right: 20px;"><b>Category</b></label>
        <input type="radio" name="category" id="personal" th:value="${'personal'}"
               th:checked="${category == 'personal'}" required>
        <label> Personal </label>
        <input type="radio" name="category" id="work" th:value="${'work'}" th:checked="${category == 'work'}" required>
        <label> Work </label>
    </div>

    <!-- Date -->
    <div class="items" style="margin-bottom: 15px;">
        <label style="font-size: large; float: left; margin-right: 20px;"><b>Due Date</b></label>
        <input type="datetime-local" id="dueDate" name="dueDate" required>
    </div>

    <!--  Status -->
    <div class="items" style="margin-bottom: 15px;">
        <label style="font-size: large; float: left; margin-right: 20px;"><b>Status</b></label>
        <input type="radio" name="status" id="inprogress" th:value="inprogress" th:checked="${status == 'inprogress'}"
               required>
        <label> In Progress </label>
        <input type="radio" name="status" id="completed" th:value="completed" th:checked="${status == 'completed'}"
               required>
        <label> Completed </label><br><br>
    </div>

    <!-- Add Task button -->
    <button type="submit" class="btn"> Update</button>
</form>
<div><span style="color:#000000" th:if="${message}" th:text="${message}"></span></div>
</body>
</html>