<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/task_component/taskForm.css}"/>
    <script th:src="@{/js/userProfile.js}"></script>
</head>
<body>
<form id="TaskForm" style="display: none;" method="post" th:action="@{/todo-app/profile/addTask}">
    <a style="float: right;margin: 20px;" onclick="closeTaskForm()"><img th:src="@{/asset/task_component/exitIcon.png}"
                                                                         width="50px" height="50px"></a>
    <h1 style="text-align: center;margin-top:60px;font-size: xx-large;text-align: center;">&nbsp;&nbsp;&nbsp;Add New
        Task</h1>
    <!-- Title input -->
    <label style="font-size: large;float: left;"><b>Title</b></label><br>
    <input type="text" name="title" required>
    <!-- Description input -->
    <label style="font-size: large;float: left;"><b>Description</b></label><br>
    <textarea class="description" name="description" required></textarea>
    <!--Category RadioButton-->
    <div class="category-section">
        <br>
        <label style="font-size: large; float: left; margin-right: 20px;"><b>Category</b></label>

        <input type="radio" name="category" th:value="${'personal'}" th:checked="${category == 'personal'}" required>
        <label> Personal </label>

        <input type="radio" name="category" th:value="${'work'}" th:checked="${category == 'work'}" required>
        <label> Work </label>
    </div>

    <!--Date-->
    <div class="items">
        <br>
        <label style="font-size: large;float: left;margin-right: 20px;"><b>Due Date</b></label>
        <input type="datetime-local" name="dueDate" required>
    </div>

    <br><br>

    <!-- Add Task button -->
    <button type="submit" class="btn"> Save</button>

    <div><span style="color:#000000" th:if="${message}" th:text="${message}"></span></div>

</form>
</body>
</html>