<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/task_component/userProfile.css}" />
    <script th:src="@{/js/userProfile.js}"></script>
</head>
<body>

<div class="header">
    <a class="home" th:href="@{/todo-app}" >
        <img th:src="@{/asset/task_component/homeIcon.png}" width="70px" height="70px">
    </a>
    <a class="logout" th:href="@{/todo-app/logout}">
        <img th:src="@{/asset/task_component/logout.png}" width="50px" height="50px">
    </a>
</div>

<div class="addTask">
    <button class="addTaskBtn" th:onclick="openTaskForm()">
        <h2> New Task </h2>
        <img th:src="@{/asset/task_component/addTaskIcon.png}" width="100px" height="100px">
    </button>
</div>

<div class="row">
    <div class="menu">
        <h3>Task Filters</h3>
        <ul>
            <li>
                <a th:href="@{/todo-app/profile/filter=today}">
                    <button class="filter">Today</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=next-week}">
                    <button class="filter">Next 7 Days</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=work}">
                    <button class="filter">Work</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=personal}">
                    <button class="filter">Personal</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=completed}">
                    <button class="filter">Completed</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=overdue}">
                    <button class="filter">Overdue</button>
                </a>
            </li>
            <li>
                <a th:href="@{/todo-app/profile/filter=in-progress}">
                    <button class="filter">In-Progress</button>
                </a>
            </li>
        </ul>
    </div>

    <div class="tasks">
        <a th:href="@{/todo-app/profile}" style="text-align:center;color:#917156;"><p>Reset</p></a>
        <div class="item" th:each="task: ${tasks}">
            <div class="delete">
                <form th:action="@{/todo-app/profile/deleteTask/{id}(id=${task.id})}" >
                    <button class="deleteBtn"> <img th:src="@{/asset/task_component/deleteIcon.png}" width="60px" height="60px"></button>
                </form>
            </div>
            <div class="taskInfo">
                <a th:onclick="openEditForm(/*[[${task}]]*/)">
                    <h4 th:text="${task.title}"></h4>
                </a>
                <a th:onclick="openEditForm(/*[[${task}]]*/)">
                    <h6 th:text="${task.description}"></h6>
                </a>
            </div>
        </div>
    </div>

</div>

<div th:include="task_component/taskForm.html"></div>
<div th:include="task_component/editTaskForm.html"></div>
<div><span style="color:#000000" th:if="${message}" th:text="${message}"></span></div>

</body>
</html>