<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_component/homeForms.css}"/>
</head>
<body>
<div id="forgot-password">
    <form th:action="@{/todo-app/reset-password}" th:object="${request}" method="post">
        <a class="close" onclick="closeForgetPasswordForm()">
            <img th:src="@{/asset/user_component/exitIcon.png}" width="50px" height="50px">
        </a>
        <br>
        <h1>Forgot Your Password?</h1>
        <br><br>
        <p class="resetPass">
            To reset your password, please enter your email address, verify your email, navigate
            the link to enter a new password
        </p>
        <label class="email"><b>Email</b></label>
        <input type="text" name="email" required>
        <button type="submit" class="btn"> Verify</button>
        <br>
    </form>
    <div><span style="color:#000000" th:if="${message}" th:text="${message}"></span></div>
</div>
</body>
</html>