<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_component/home.css}"/>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<a class="homeIcon" th:href="@{/todo-app}">
    <img th:src="@{/asset/user_component/homeIcon.png}" width="90px" height="90px">
</a>
<a class="homeTitle" th:href="@{/todo-app}"><h1>TodoList</h1></a>
<button class="loginBtn" onclick="openLoginForm()">Sign in</button>
<button class="registerBtn" onclick="openSignupForm()">Sign up</button>
<img class="titleImage" th:src="@{/asset/user_component/title.jpg}" width="900px">
<div th:include="user_component/login.html"></div>
<div th:include="user_component/register.html"></div>
<div th:include="user_component/forgot-password.html"></div>

</body>
</html>