<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_component/homeForms.css}"/>
</head>
<body>
<div id="login">
    <a class="close" onclick="closeLoginForm()">
        <img th:src="@{/asset/user_component/exitIcon.png}" width="50px" height="50px">
    </a>
    <br>

    <h1>&nbsp;&nbsp;Login</h1>

    <!-- Custom button with Google icon -->
    <div class="button-container">
        <a th:href="@{/todo-app/redirect-google}">
            <button class="google-button">
                <img th:src="@{/asset/user_component/google_icon.png}" width="25" height="25">
                <span class="button-text">&nbsp;&nbsp;Continue With Google</span>
            </button>
        </a>
    </div>

    <br>

    <form method="post" th:action="@{/todo-app/login}" th:object="${request}">
        <label class="email"><b>Email</b></label>
        <input type="text" name="email" required>

        <label class="password"><b>Password</b></label>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="btn"> Login</button><br>

        <div class="links">
            <a class="openForgot" href="#" onclick="openForgetPasswordForm()">Forget Your Password?</a>
            <br><br>
            <a onclick="openSignupForm()">Don't have an account? Sign Up</a>
            <br><br>
        </div>
    </form>
</div>
</body>
</html>